[2020-10-12 10:36] Kyrremann opened #2 "Problem editing resources when using emacs"
Get this error after I started using `kubecolor`. My editor is emacs running as daemon.

[code]

[2020-10-12 19:02] yathishgowdaanandaraj-pge opened #4 "Can't get this working"
I followed the readme file and did the installation. After that the kubecolor command does not work.

[2020-10-12 22:06] TheKas commented on #4
add ~/go/bin to your PATH in the .bashrc/.zshrc
`echo 'export PATH="$PATH:~/go/bin"' >> ~/.bashrc`
and source it new
`source ~/.bashrc`

[2020-10-12 23:05] yathishgowdaanandaraj-pge commented on #4
Great, that worked. Does this work with zsh terminal as well or is it only for bash ?

[2020-10-13 05:20] denysvitali commented on #4
Works with zsh as well, just use .zshrc instead of .bashrc 👍

[2020-10-13 07:57] dty1er commented on #4
`export PATH="$PATH:$GOPATH/bin"` might be better just in case you change your $GOPATH.

[2020-10-13 19:18] yathishgowdaanandaraj-pge commented on #4
Wow that looks amazing it worked in bash, that's some amazing work guys.

But I am not able to get it work with zsh, I added the the path to zshrc and sources the file it still gives me error
zsh: command not found: kubecolor

[2020-10-13 19:23] denysvitali commented on #4
You'll also need to add GOPATH to zshrc as well, if you don't have it there (:

[2020-10-13 19:23] denysvitali commented on #4
You'll also need to add GOPATH to zshrc as well, if you don't have it there (:

[2020-10-13 19:27] yathishgowdaanandaraj-pge commented on #4
Yes I added both of these to the zshrc file
export PATH="$PATH:~/go/bin"
export PATH="$PATH:$GOPATH/bin"

I still get the same error :-(

[2020-10-13 19:29] denysvitali commented on #4
What's the output of (from zsh):

[code]

?

[2020-10-13 19:38] yathishgowdaanandaraj-pge commented on #4
This is what it looks like
[code]

[2020-10-14 03:30] dty1er commented on #2
@Kyrremann
Hi, can you update kubecolor to the latest (go get -u github.com/dty1er/kubecolor/cmd/kubecolor) then try again? I think I fixed the problem

[2020-10-14 06:27] Kyrremann commented on #2
Can confirm that it works on my machine! Thanks for the help!

[2020-10-14 06:27] #2 closed

[2020-10-14 06:30] dty1er commented on #4
Hmm that's starange, kubecolor exists in `~/go/bin/` and `~/go/bin` is in $PATH but you cannot exec kubecolor...

[2020-10-14 06:32] denysvitali commented on #4
Can you try to use the full path instead of the ~? That will be /Users/YGA2/go/bin

[2020-10-14 19:12] yathishgowdaanandaraj-pge commented on #4
Using this is my path worked, you guys are awesome.

Thanks a lot everyone, appreciate all your help. Must say you guys have put some amazing work.

[2020-10-15 02:16] yagi5 commented on #4
Oh nice. Let me close this issue but please feel free to reopen if you have any issues. Enjoy kubecolor!

@TheKas @denysvitali
Thank you for your support!!

[2020-10-15 02:17] #4 closed

[2020-10-15 14:47] slayer opened #15 "panic: runtime error: index out of range [0]"
`kubecolor describe node xxx`

[code]

[2020-10-15 15:32] dty1er commented on #15
Ah I found the root cause let me fix...

[2020-10-16 07:44] dty1er commented on #15
I submitted a PR to fix the root cause on kubernetes side here: https://github.com/kubernetes/kubernetes/pull/95639

Now I will start working on implementing work-around on kubecolor side

[2020-10-16 18:44] laurentiuspurba opened #18 "Getting Vim: Warning: Output is not to a terminal while doing kubectl edit secrets ..."
I have an `alias kubectl=kubecolor` and when executed `kubectl edit secret THE_SECRET` and got the following error:
[code]
and my terminal just frozen.

I had to `Ctrl+C` and then exit the terminal in order to get my cursor in my terminal.

[2020-10-17 01:48] Code-Hex commented on #18
@laurentiuspurba I couldn't reproduce it in my environment.
I use the latest (v0.0.2) kubecolor. What's your version (It's better to write vim too)?

[2020-10-17 07:15] dty1er commented on #18
Currently this problem is fixed so can you update kubecolor (`go get -u github.com/dty1er/kubecolor/cmd/kubecolor`) then try again?
If it still doesn't work, please let us know shell and vim information (bash/zsh/fish, version)

[2020-10-18 02:51] dty1er commented on #15
@slayer
Hi, I confirmed this problem does not happen on the latest kubectl and it's fixed by kubectl 1.17.
I guess you're using kubectl 1.16 or lower right? If so, it's currently [not supported by kubernetes side](https://kubernetes.io/docs/setup/release/version-skew-policy/) so can you update your kubectl and try again?

[2020-10-18 08:20] dty1er opened #27 "Installation without depending on go get"
Currently kubecolor can be installed via `go get`, but ideally it should not be depending on go command. We should:
* enable kubecolor to be installed via package manager (homebrew etc)
* distribute pre-build binary via GitHub release

[2020-10-19 10:42] slayer commented on #15
Yes, I was using v1.16.3, updated now to v1.19.3. No issues now.
 Thanks

[2020-10-19 10:42] #15 closed

[2020-10-22 22:49] rothgar commented on #27
Would you be open to a PR that adds releases based on goreleaser? If you have a homebrew-tap repo I can help make it work with github actions too.

[2020-10-23 09:09] dty1er commented on #18
Let me close this issue but feel free to open again if you have any issues!

[2020-10-23 09:09] #18 closed

[2020-11-03 19:53] laurentiuspurba opened #32 "Autocomplete does not work."
Hello @dty1er

I have `kubecolor` updated after running `go get -u github.com/dty1er/kubecolor/cmd/kubecolor`. I also have the following in my`.zshrc`
[code]

So, when I typed `kubectl` command, my autocomplete did not work. Then, I removed the above kubecolor config in my `.zshrc`, and ran `source ~/.zshrc` to get the latest changes on my src file.

I re-tried `kubectl` again, and the autocomplet

[2020-11-05 02:30] dty1er commented on #32
@laurentiuspurba
Hi, thank you for opening an issue.
Let me take a look and will get back to you later.

[2020-11-05 02:35] dty1er commented on #32
@laurentiuspurba
Can you share your output of `kubectl versions --short` and `zsh --version` ?

[2020-11-05 14:12] laurentiuspurba commented on #32
@dty1er Here is the info as requested
[code]

Appreciate your response.

[2020-11-08 05:40] dty1er commented on #32
@laurentiuspurba
Hi, I identified the root cause of the issue and trying to fix it. Please wait for a while.

[2020-11-08 07:56] dty1er commented on #32
@laurentiuspurba
Hi, I applied some fix in kubecolor so can you update kubecolor by `go get -u`.
Also, about autocomplete, please make sure below things:

* First, you need `source <(kubectl completion zsh)` in your .zshrc . Is it already written?
* when you set the alias `alias kubectl=kubecolor`, you don't need `complete -o default -F __start_kubectl kubectl` .

So now, I want you to do below:

[2020-11-09 10:13] otherguy commented on #27
Homebrew would be much appreciated!

[2020-11-09 14:26] laurentiuspurba commented on #32
@dty1er
After doing what you suggested, the autocomplete still does not work. This is what I have in my `.zshrc`
[code]
and then I did `source ~/.zshrc`, and the result was still the same.

Is there a way to revert it back to previous setting without `kubecolor`? I removed anything related to `kubecolor` in my `.zshrc`, but it still uses `kubecolor` for some reasons.

Thanks

[2020-11-10 02:37] dty1er commented on #32
@laurentiuspurba

Hi, thank you for trying.
I setup zsh environment and found the solution I suggested doesn't work (sorry but I assumed it should work because it's working on my bash env).

* Reverting the configuration

To revert it, I found you need to run `unalias` it explicitly because configured `alias` is still remaining after you removed it in your zshrc. Can you run `unalias kubectl `?

*

[2020-11-10 12:10] dty1er commented on #27
@rothgar

Hi, sorry for my late response 😓 I missed your comment.
I actually have never used goreleaser, but it looks good to me, I would be happy if you can send me a PR!

I am thinking to distribute kubecolor using homebrew, but I need to learn how to do that.

[2020-11-10 20:37] rothgar commented on #27
No problem, I'll work on a PR. I'll try to send it over late next week (I'm pretty busy with Kubecon ATM)

You should probably set up a repo called `homebrew-tap` under your GitHub user. That way we can push the formula there and people can install it with `brew install dty1er/tap/kubecolor`

I'd love to get this set up so I can install it along site my tool github.com/rothgar/k

[2020-11-11 05:52] dty1er commented on #27
@rothgar

Thank you!
I will try to setup a repo and write Formula.

[2020-11-17 05:33] #27 closed

[2020-11-26 10:17] dty1er commented on #32
@laurentiuspurba
I close this issue for now, but please don't mind opening it again if you want!

[2020-11-26 10:17] #32 closed

[2020-12-02 22:59] jclynny opened #36 "Error when running `kubectl describe namespace <namespace>`"
I am on Mac OSX v. 10.15.7 (Catalina) and Kubecolor 0.0.7 installed from brew, and I'm using zsh in iTerm2.  I get the following errors when trying to describe namespace resources in K8s:

Resource Quotas
  Name:panic: runtime error: index out of range [0] with length 0

goroutine 18 [running]:
github.com/dty1er/kubecolor/printer.(*DescribePrinter).Print(0xc00005e010, 0x113d2e0, 0xc0000a2028, 0x11

[2020-12-21 09:46] thomas-riccardi opened #37 "yaml color for `kubecolor apply -o yaml`"
kubecolor 0.0.7: `kubecolor apply -f foo.yaml -o yaml`
Actual result: all yaml output is green.

Expected result: it would be great if the yaml output would be nicely colored like with `kubecolor get pods -o yaml`.

[2020-12-21 10:16] dty1er commented on #37
I should do this.
The reason I did not support `apply` by kubecolor is  because I didn't know apply accepts `-o`.
Let me try to implement it...

[2020-12-21 15:15] jclynny commented on #36
@dty1er Any ideas on this one?

[2020-12-27 04:31] dty1er commented on #36
Sorry to be late.
Probably this is kubecolor's bug. Let me check deeply.

[2020-12-27 04:51] dty1er commented on #36
@jclynny

Hi, can you show me the actual output of `kubectl describe namespace` if possible?
Just showing `Resource Quotas` part is OK.

[2020-12-27 05:36] dty1er commented on #37
@thomas-riccardi
Hi, I fixed this issue in [v0.0.8](https://github.com/dty1er/kubecolor/releases/tag/v0.0.8). Can you try upgrading kubecolor?
Thank you!

[2021-01-04 12:53] jclynny commented on #36
Sure.

`Resource Quotas
 Name:                                                                     aggregate-cap
 Resource                                                                  Used  Hard
 --------                                                                  ---   ---
 cold-hdd.storageclass.storage.k8s.io/requests.storage                     0     9600Gi
 count/configmaps

[2021-01-04 15:26] dty1er commented on #36
Thank you! checking again...

[2021-01-06 14:27] thomas-riccardi commented on #37
@dty1er I confirm it works great with v0.0.8! Thank you!

[2021-01-07 02:41] dty1er commented on #37
Cool! Thank you for opening this issue and using kubecolor!

[2021-01-07 02:41] #37 closed

[2021-01-11 13:40] jclynny commented on #36
Hi @dty1er, any updates?  Do you need more information from me?

[2021-01-12 02:49] dty1er commented on #36
@jclynny
Sorry to be late. I found the root cause and trying to fix it.
Please wait for a bit more...

[2021-01-12 04:18] dty1er commented on #36
BTW I made a PR to fix the root cause on kubectl side. https://github.com/kubernetes/kubernetes/pull/97946
Now I'm working on a workaround fix on kubecolor side

[2021-01-15 04:06] dty1er commented on #36
Hi @jclynny , I need your help.
I applied the workaround for this issue and released the latest kubecolor v0.0.9.
Can you try it and make sure the issue is fixed now?

You can update kubecolor by `brew upgrade` if you installed `kubecolor` by homebrew.
Or you can install the latest by go get command `go get -u github.com/dty1er/kubecolor/cmd/kubecolor`.

[2021-01-15 14:09] jclynny commented on #36
Certainly.  I will test and get back with you.  Thanks.

[2021-01-15 14:17] jclynny commented on #36
@dty1er Seems to work perfectly now.  Thanks for fixing this so quickly!

[2021-01-17 04:40] dty1er commented on #36
@jclynny
Great to hear that!
So let me close this issue now. Sorry for the delay of my response.

Thank you for using kubecolor! If you find anything else, please submit issues.

[2021-01-17 04:40] #36 closed

[2021-01-22 18:41] thomas-riccardi opened #41 "kubectl process exit status lost with kubecolor"
kubecolor ignores the exit status of the `kubectl` process:
[code]

(use-case: in a script (so the exit status is necessary), where a human still sees the outputs (so the color is much useful).)

[2021-01-23 04:40] dty1er commented on #41
Nice catch. This should be fixed..

[2021-01-25 11:31] thomas-riccardi commented on #41
Forwarding the errors from `cmd.Wait()` hopefully may be enough?

https://github.com/dty1er/kubecolor/blob/b83ce9d89601e9d8b3d37544f864a0d56d2faca9/command/runner.go#L96

[2021-02-02 09:26] bygui86 opened #44 "Kubecolor autocompletion does not work and break canonical k alias"
I tried to enable the autocompletion for kubecolor following instructions on the official README:

but it does not work, no autocompletion for kubecolor and even worse no autocompletion anymore for `k` alias!

Here some info:
- OS: macos catalina v10.15.7
- kubectl: official v1.20.2
- `k` alias set and autocompletion properly working (without enabling kubecolor autocompletion)

Here the output of

[2021-02-02 10:14] ecsecta commented on #44
Have a look here, works for my zsh setup: https://github.com/dty1er/kubecolor/issues/32#issuecomment-724411738

[2021-02-02 15:03] bygui86 commented on #44
Thanks @ecsecta ! I will try asap

[2021-02-02 15:12] bygui86 commented on #44
@ecsecta  the solution you proposed does not work.

[code]

with `complete -o default -F __start_kubectl kubectl` **commented**

I forgot to mention:
- zsh version: 5.8 (x86_64-apple-darwin19.6.0)
- kubecolor installed via `brew`

[2021-02-03 05:17] dty1er commented on #44
@bygui86
Can you show me the whole .zshrc?
On my environment this works:

[code]

[2021-02-03 08:35] bygui86 commented on #44
@dty1er I could but it would be pretty difficult to read... as I work on many different technologies everyday and I use tons of tools, I organised .zshrc in multiple subfiles to keep everything tidy.

Here an example of the .zshrc structure:

[code]

I tried both following ways (commenting everything else related to kubectl and k):

[code]

[code]

but still it doesn't work.

I will try excluding

[2021-02-03 09:40] bygui86 commented on #44
I tried with a super minimal .zshrc:

[code]

and it worked!

Now I have to guess which of my other scripts creates this issue :(

@dty1er any known conflict between kubecolor and other tools? for example gcloud, krew, kubectx, kubens or similar?

[2021-02-03 09:48] dty1er commented on #44
@bygui86
I see.
Unfortunately, I currently don't know any tools which make the completion not working. I guess you can investigate it by bisecting your .zshrc.
If you can find which part was causing this problem, I'd like you to report it here. The information should be much helpful for other people, so I want to consider writing it in this project README.

[2021-02-03 10:37] bygui86 commented on #44
@dty1er I found the conflict:

[code]

I use these lines to load `zsh-completions`.

Everything depends on the order...

WORKS
[code]

DOES NOT WORK
[code]

No matter other aliases, functions or autocompletions loaded before or after...

[2021-02-04 07:29] dty1er commented on #44
@bygui86

Thank you for your effort!
I don't understand how zsh completion works deeply, but it seems like compinit should be located before compdef? I could find [something similar](https://stackoverflow.com/a/60383091/13914809), but I'm still not sure.

Anyway, I'm happy to hear it worked on your environment.
Let me close this issue for now, but please feel free to reopen or open another one whe

[2021-02-04 07:29] #44 closed

[2021-02-08 09:58] manfredliuactive opened #46 "kubectl run command showing disorder outputs"
I'm running kubectl run -i --tty busybox --image=busybox --restart=Never -- sh.  the shell would not echo any character inputed.
after entering enter, the commands are executed but the output is not readable.

[code]

[2021-02-09 02:34] dty1er commented on #46
Nice catch, it reproduced.

[2021-02-09 02:40] dty1er commented on #46
@manfredliuactive
Hi, can you update kubecolor to the latest and try again?
You can update it by `brew upgrade` or `go get -u`.

[2021-02-09 03:37] dty1er commented on #41
Currently this is fixed at the latest kubecolor (v0.0.11).
Thank you for opening this issue and sorry for my late work.

[2021-02-09 03:37] #41 closed

[2021-02-09 11:07] thomas-riccardi commented on #41
Thanks @dty1er! I confirm 0.0.11 fixes the issue.

No worries for the time to fix: you owe nothing to the internet, thanks for your great work!

[2021-02-14 10:04] demshin opened #49 "Want to always run with --light-background"
Hello!
Thanks for very useful tool.

I'm using kubecolor on macos with zsh, iTerm2 with ligth theme (Solarized Light). And I want to configure kubecolor to always use `--light-background`.

Regards :)

[2021-02-15 00:11] dty1er commented on #49
@demshin

Hi, thank you for opening this issue.
To always use `--light-background`, you can use zsh alias feature.
You can write below line in your `.zshrc`:

[code]

Then, load `~/.zshrc` by running `source ~/.zshrc` . You will now get `kubecolor --light-background` result by just running `kubecolor` .

[2021-02-15 07:05] demshin commented on #49
It works. Thanks.

[2021-02-15 07:36] dty1er commented on #49
Cool, let me close this issue now!

[2021-02-15 07:36] #49 closed

[2021-03-12 16:40] dty1er commented on #46
I'll close this but feel free to reopen if needed.

[2021-03-12 16:40] #46 closed

[2021-04-07 03:57] remrain opened #55 "Losing minus sign "-" in yaml output"
Create a pod with "-" prefixed args
[code]
"-" is missing in yaml output
[code]

[2021-04-24 08:02] perbu opened #56 "colorizing kubectl apply"
Hi!

This looks like a nice and useful project. I like colors. I switched from curl to httpie because colors.

Would you be interested in me attempting to colorize kubectl apply? Currently it is all green. I'd like it to be mostly white, with separate colors for actions that are "unchanged", "created", "configured", etc.

I've not looked at the code so I don't know if it fits. Let me know. Any oth

[2021-04-27 02:00] dty1er commented on #56
@perbu

Can you provide a specific example output of `kubectl apply` which you want to colorize?

[2021-04-27 02:47] dty1er commented on #55
Thank you and nice catch!
fixed in #57

[2021-04-27 02:47] #55 closed

[2021-04-27 09:03] perbu commented on #56
Just colorizing "unchanged", "created", "configured". I have about 80 lines of output from my kubectl apply and I wanna highlight what is actually being changed.

[2021-04-27 12:29] dty1er commented on #56
@perbu

Hi, as this suggestion sounds interesting to me, I quickly tried to implement it in https://github.com/dty1er/kubecolor/pull/60.
Do you think you can try it with your environment and tell me how it looks?

Right now I'm thinking if we should leave `deployment.apps/foo` just white or not.

[2021-04-27 13:08] perbu commented on #56
haha. Thanks!

Since I'm not planning on deploying right now I ran a dry-run and then the colors won't apply. So I think the parser might need a tiny bit more work if you wanna cover dry-runs.

![bilde](https://user-images.githubusercontent.com/232665/116246386-3d322300-a76a-11eb-80d0-1faf5b2204f4.png)

[2021-04-27 14:44] dty1er commented on #56
Ah cool, I updated the PR and now it should handle dry run cases.

[2021-04-27 17:07] perbu commented on #56
Perfect.

Not sure if I should close the issue or whatever, but I'm certain all my needs have been met. 🥇

[2021-04-28 01:39] dty1er commented on #56
I merged the PR and made a release v0.0.16 includes this change. Please update kubecolor and try again.

Thank you for the suggestion! If you have anything else please feel free to reopen or open new one.

[2021-04-28 01:39] #56 closed

[2021-05-02 21:07] awinecki opened #63 "`brew install dty1er/tap/kubecolor` fails – invalid syntax in tap!"
Hey there, I'm setting up a new machine and `kubecolor` brew installation failed for me:

<img width="868" alt="CleanShot 2021-05-02 at 23 04 19@2x" src="https://user-images.githubusercontent.com/656694/116827722-d31ae300-ab9a-11eb-9bcd-32252ac6ea21.png">

My env:
- fish shell
- M1 macbook pro 13"
- Homebrew 3.1.5

[2021-05-04 13:10] a-mazed opened #64 "Panic: runtime error with Krew"
Hi!
Thank you for such a good tool!

I found an panic error when use Krew:
[code]

It should be:
[code]

kubectl version
[code]

Please check

[2021-05-04 14:23] dty1er commented on #64
It reproduced. Will fix it soon, thank you for the report

[2021-05-04 14:34] dty1er commented on #63
@awinecki

Hi, thank you for the report! I guess this error happens on M1 mac and I applied fix for that. However, I don't have M1 mac so I cannot make sure it is fixed now. Can you try again and let me know if it still happens?

[2021-05-05 02:58] dty1er commented on #64
I fixed the crash by [v0.0.19](https://github.com/dty1er/kubecolor/releases/tag/v0.0.19). Please update kubecolor and try again.

Because I want to avoid the panic quickly, so for now `krew version` is not colorized but I'll consider if I should do that.

Anyway thank you for opening the issue!

[2021-05-05 07:52] a-mazed commented on #64
I works
Thank you

[2021-05-05 08:27] #64 closed

[2021-05-06 14:45] tuxtof opened #68 "kubecolor plugins version failed"
when i try to use the version command of a kubectl plugin it failed
ex with cert-manager

  - Screenshot of "kubectl" output
kubectl cert-manager version
util.Version{GitVersion:"v1.0.1", GitCommit:"c06d7a55dafb1a812321bf3c2ab982daa7b3e699", GitTreeState:"clean", GoVersion:"go1.15", Compiler:"gc", Platform:"darwin/amd64"}

  - Screenshot of "kubecolor" output
kubecolor cert-manager version
panic:

[2021-05-07 07:24] dty1er commented on #68
Thank you for opening the issue! I applied workaround and the panic won't happen, can you try again.

[2021-05-07 07:24] #68 closed

[2021-05-07 07:39] tuxtof commented on #68
Perfect problem solved

Thanks @dty1er

[2021-05-12 01:54] anthr76 opened #73 "Publish a container image in CI"
Hi there. Thanks for this great project! As a Linux user it's incredibly inconvenient to go grab a new static binary. A lot of k8s centric go apps I wire into shell functions with podman/docker containers. Would it be possible if we can get releases wired up to a image?

[2021-05-12 05:38] dty1er commented on #73
@anthr76
Do you mean you want to run kubecolor by something like `docker run --rm kubecolor:latest get pods` ?

[2021-05-12 11:03] anthr76 commented on #73
Yup essentially!

[2021-05-13 01:06] dty1er commented on #63
Closing now...

[2021-05-13 01:06] #63 closed

[2021-05-20 12:12] tuxtof opened #75 "kubecolor inconsistent output"
i have inconsistent output (sometime dup, sometime disappear, order change) when i use kubecolor versus direct kubectl

- Screenshot of "kubectl" output
![image](https://user-images.githubusercontent.com/180613/118976406-41bab780-b975-11eb-850b-617bc5182c26.png)

- Screenshot of "kubecolor" output

i launch it 4 times

![image](https://user-images.githubusercontent.com/180613/118976489-59923b80-b9

[2021-06-02 14:09] UNOPARATOR opened #76 "REQ: More conditional coloring of `kubectl get pods` column values (like READY column)"
I like to run a constantly refreshing `kubectl get pods -A` command in a specified interval using `watch` (in mac & linux) or `while (1) {clear; <command_here>; sleep <interval_in_seconds>}` (in windows powershell).

It would be nice conditional coloring for STATUS columns values just like the READY column:
![image](https://user-images.githubusercontent.com/1214176/120491845-3da18780-c3c2-11eb-84b

[2021-08-04 19:09] oguzyildiz1991 opened #77 "diff coloring"
I think it it would be nice to have diff colors similar to `helm diff`, currently the entire output looks green

[2021-09-03 18:00] that70schris opened #78 "autocompletion bug"
this could very well have to do with my setup, but I'm getting something weird from the first word of autocomplete.

if i tab from `kubecolor `, i get `kubecolor $'\033'\[33m`
`kubecolor de` doesn't complete

but `kubecolor get `, does work and gives me all the right options

[2021-09-03 18:11] that70schris commented on #78
I'm using zsh as my shell

[2021-09-09 18:58] joshniec commented on #78
Encoutering the same bug myself using zsh:
[code]
Using the latest release of `kubecolor`

[2021-09-16 07:44] altokarev commented on #78
+1

very frustrating

[code]

[2021-10-13 08:19] singhsneetendra commented on #78
I have same issue with macbook pro and in CentOS 8 , configurations used are same as above.

[2021-10-18 11:49] AmjadHussainSyed opened #79 "show different color for pod lifecycle"
Output different color for pod lifecycle. Currently is shows only one color.
It will be great if it shows a different color for each pod lifecycle. which will help to easily identify
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

- Screenshot of "kubecolor" output
<img width="151" alt="Screen Shot 2021-10-18 at 11 50 34 AM" src="https://user-images.githubusercontent.com/3575729

[2021-10-19 22:17] fernaspiazu commented on #78
This worked for me, at the moment:
[code]

I'm tested this on **zsh** (MacBook Pro), at the bottom of `~/.zshrc`.

Let me know if this works also for you.

[2021-10-20 07:49] #79 closed

[2021-10-20 14:04] Noksa commented on #78
@fernaspiazu
Thanks, it works.
I have only two lines (brew already sources completion in my case):
[code]

[2021-10-26 13:28] pjwalstrom opened #80 "brew warning"
[code]

[2021-10-26 13:30] #80 closed, assigned to nobody

[2021-10-29 15:55] hrodrig opened #81 ":unneeded is deprecated"
After update to Monterey, I have this issue:

[code]

[2021-11-02 08:15] pjwalstrom commented on #81
Duplicate of https://github.com/dty1er/homebrew-tap/issues/1

[2021-11-15 16:40] Misteur-Z commented on #78
Running Bash `5.0.x` with Ubuntu `20.04` I had this error trying completion for namespaces:
[code]
Fixed in my `.bashrc` with:
[code]

[2021-11-26 07:56] vishal-h opened #83 "module declares its path as: github.com/dty1er/kubecolor, but was required as: github.com/hidetatz/kubecolor"

[2021-11-26 07:56] vishal-h commented on #83
I guess the title is self explanatory

[2021-11-29 11:35] hussam-qasem commented on #78
I have a similar issue as @Misteur-Z. When I type `k -n [TAB]` I get:
[code]
The suggested fix didn't solve the problem. My `.bashrc`
[code]

I'm on CentOS7
[code]

[2021-12-04 17:56] jamesholcomb commented on #83
This seemed to work around it

`go get -u github.com/dty1er/kubecolor/cmd/kubecolor`

[2021-12-04 18:25] neumantm commented on #78
I have the same problem as @Misteur-Z and @hussam-qasem.

[2021-12-16 20:42] kalindudc commented on #78
This is still an issue. I can replicate in macOS 12.1

[code]

Although the above workaround `-o nospace` removeds the color codes from the tab complete, as mentioned, it removed completion for kubernetes resources `pod/services/resources/etc`

Current `.zshrc`
[code]

[2021-12-21 09:18] #81 closed

[2022-01-06 16:04] cterence opened #85 "Kubecolor breaks krew plugins using fzf (ctx + ns)"
Kubecolor breaks some krew plugins using fzf.
For example, `kubecolor ctx` only lists the contexts with coloration instead of enabling the user to choose the context to switch to with fzf.
Here's a screenshot :
![Capture d’écran du 2022-01-06 16-59-18](https://user-images.githubusercontent.com/25285508/148411891-42156ecd-9bba-4d3f-838a-f8ab6375d619.png)
I'm using zsh, version 5.8 on Linux.

[2022-01-07 13:40] prune998 commented on #85
you can use ` --plain` to revert to default colors for now

[2022-01-07 14:40] cterence commented on #85
Okay I didn't try it, it solves my pain point !
I can do `alias kubectl=kubecolor` and `alias kctx=kubecolor --plain ctx` and it works, thanks !

[2022-01-07 14:41] #85 closed

[2022-01-07 15:12] prune998 commented on #85
@cterence I also added PR to remove the colors on `ctx` and `ns` subcommands... hope it will be merged...
In the meantime you can close my branch and build `kubecolor` for yourself.

[2022-01-11 23:45] ipleten commented on #78
I also faced this problem. It just stopped working.

[2022-01-16 12:04] sitilge opened #87 "kubecolor autocomplete adds extra symbols"
I've noticed recently that `kubecolor` is adding symbols such as `$'\033'\[33m` when I press tab for autocomplete. I am using the `kubectl` plugin for `oh-my-zsh`. My shell is `zsh`. Pure `/bin/kubectl` autocomplete works fine.

I have another computer with the same setup (using dotfiles) where the same problems occur, having exactly the same `zsh/oh-my-zsh/kubectl/kubecolor` versions.

![image](h

[2022-01-18 08:50] budimanjojo commented on #78
Same thing on fish shell, except it spews a lot of errors too. With official fish kubectl completion that was added a while ago

[2022-01-20 20:21] vikas027 opened #88 "Feature Request - Ability to change color for pods which are not in Ready status"
As of now, pods that are not in ready status has a light yellow colour. It would be great to have the ability to change the colour (may be red) of the whole line.

[2022-01-21 08:56] bcouetil commented on #76
I would insist on adding color convention on top of that (red for KO, green for OK, etc.).

The idea behind this project is good 🤩, but for now it's useless to me (just adding happy colors has no value).

[2022-01-23 10:33] levmichael3 commented on #87
@sitilge it's the same bug as #78

[2022-02-08 11:20] rrva opened #89 "kubectl get events should highlight errors/warnings in a different color"
Feature request: `kubectl get events` should highlight errors/warnings in a different color

[2022-02-14 12:16] sitilge commented on #78
Any update on this one?

[2022-03-01 13:42] grzesuav opened #90 "Brew installation method does not work"
[code]

Unsure where the error is, seems in brew formula

[2022-03-02 18:23] iamajohn commented on #90
I am also hitting this issue:
`==> Homebrew was updated to version 3.4.0
More detailed release notes are available on the Homebrew Blog:
  https://brew.sh/blog/3.4.0
==> Tapping hidetatz/tap
Cloning into '/usr/local/Homebrew/Library/Taps/hidetatz/homebrew-tap'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (55/55), done.
re

[2022-03-03 01:02] joshniec commented on #78
Ok so I did some digging into this, it seems the issue is here: https://github.com/hidetatz/kubecolor/blob/828af61cd8a55c052fb42c755d734c856a775af2/command/subcommand.go#L26-L29

Basically, when entering in `kubecolor <tab>`, the code treats this input as not having found a `subcommandFound`, thus, it assumes that the input being received is something like `kubecolor --help`, when in reality there

[2022-03-04 12:38] Hades32 commented on #83
Still broken @hidetatz
[code]

[2022-03-04 12:41] Hades32 opened #91 "`kubectl apply` should use different colors for "unchanged" and "configured" and "created""
That would make it much easier to see what's going on

[2022-03-04 20:04] martasd commented on #90
I confirm that I am also seeing the same issue with Homebrew version `3.4.0`.

[2022-03-09 16:24] ginrod commented on #90
Me too

[2022-03-13 21:07] fveas commented on #90
Same problem here... any workaround?

[2022-03-17 21:43] diegoumba commented on #83
Hi..

I installed the plugin with the following command with go version 1.17

go install github.com/dty1er/kubecolor/cmd/kubecolor@latest

Regards

[2022-03-30 15:31] turque commented on #78
this worked for me too, i using ubuntu! only changed kubecolor path.

[2022-03-31 07:17] singhsneetendra commented on #78
the above solution only fix special char issue, but than it do not show autocomplete options for running pods.
I have tested above in macbook.

[2022-04-02 03:39] ramanagali opened #94 "kubectl debug prompt issue with kubecolor"
Hello all,

I am trying to test Ephemeral Container using kube version v1.23.5

after entering `kubectl debug -it ephemeral-demo --image=busybox:1.35 --target=ephemeral-demo`
i can see 2 issues..

1.  prompt displayed improper format. each line is different tab spaces etc
2. can’t see whatever i type at command prompt. After pressing enter.. i will be able to see along with result

**Issue:**
![20

[2022-04-02 11:34] kam1kaze commented on #90
@fveas you can install it with the following command:

[code]

[2022-04-08 18:53] prune998 opened #95 "is any maintainer alive in this project ?"
I can help if needed....

[2022-04-11 09:49] martasd commented on #90
Works for me. 👍

[2022-04-14 05:33] nebula-it opened #96 "Do not colorise output of kubecolor.exe __complete"
Can we please add logic to always pass through the output of `kubecolor.exe __complete` in plain text. Without this in plain text it breaks the auto-completion in Powershell since Powershell calls this function to receive next arguments for auto-completion. Since users are not calling this directly it should not impact general workflow of kubecolor.

As a temporary workaround, I had this added in

[2022-04-14 06:27] nebula-it commented on #96
Looks like this is fixed in https://github.com/hidetatz/kubecolor/pull/93

@hidetatz Can we please merge this?

[2022-04-15 05:56] ayaz commented on #90
Thank you. That worked.

[2022-05-01 19:40] PePoDev opened #97 "kubecolor: Calling bottle :unneeded is disabled! There is no replacement"
[code]

[2022-05-03 08:35] BK-STAR77 commented on #90
same issue the official tap repo didn't work

[2022-05-12 11:05] pupseba commented on #78
I'm facing the same problem in ubuntu 20.04.4 (wsl2) but it only happens for the autocomplete when trying to autocomplete the name of the context.

[code]

Other than that, autocomplete seems to work just fine.

On top of this, we are unable to reproduce the problem in another ubuntu 20.0.4 (wsl2).

[2022-06-09 00:30] integrii commented on #83
this is still an issue... just change the module path to match the repo please!

[2022-06-18 09:28] flavono123 commented on #78
+1 for https://github.com/hidetatz/kubecolor/issues/78#issuecomment-981552699

Here are bash debug log for kubectl(working) and kubecolor(not working):
[code]

[code]

[2022-06-20 11:18] gontxomde commented on #97
Seems like same issue has been reported here: https://github.com/hidetatz/kubecolor/issues/90

They provide the following workaround: 'brew install jjuarez/homebrew-tap-1/kubecolor'

[2022-06-20 16:28] zswanson commented on #97
#95 is the larger problem that seems to have led to that workaround

[2022-06-22 06:21] darkn3rd opened #100 "go get fails"
Instructions say:

[code]
But this results in

[code]

[2022-06-22 06:23] darkn3rd opened #101 "go install fails"
Instructions say:

[code]

But this results in:

[code]

[2022-06-27 08:20] QuAzI opened #102 "Custom logs colorization"
Is it possible to use colors for logs in the same way as lnav do it?

[2022-06-27 22:24] tillt commented on #101
This works for me:
[code]

[2022-06-30 19:08] adrian-agot opened #104 "install fail on homebrew on mac"
brew install hidetatz/tap/kubecolor
==> Tapping hidetatz/tap
Cloning into '/usr/local/Homebrew/Library/Taps/hidetatz/homebrew-tap'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 59 (delta 12), reused 8 (delta 0), pack-reused 0
Receiving objects: 100% (59/59), 7.89 KiB | 336.00 KiB/s, done.
Resol

[2022-07-01 15:18] vikas027 commented on #104
Hey @adrian-agot ,
This is duplicate of https://github.com/hidetatz/kubecolor/issues/90

The current workaround is `brew install jjuarez/homebrew-tap-1/kubecolor`

[2022-07-04 12:24] ikatergaris commented on #78
Hi
I have almost the same setup as yours in terms of .zshrc. Differences: Ubuntu, not Mac and no k alias.
So I do
kubectl g(tab) and I get this: kubectl $'\033'\[33mget
I do
kubectl get po(tab) and I get this:  kubectl get pod. Tab again and I get a correct list of options.

So it works if I add a command to kubectl but not before that. Does the same for get, create, describe and everything else I

[2022-07-13 12:53] n-hebert commented on #104
Same result on linux, filed over here: https://github.com/hidetatz/homebrew-tap/issues/5

[2022-07-14 23:03] evilbulgarian commented on #101
same issue for me as @darkn3rd

[2022-07-28 13:05] grzesuav commented on #96
I think I hit the issue with zsh...

[2022-08-10 13:24] cannonpalms opened #106 "AUR package is in need of new maintainer"
`kubecolor` has been packaged in the [AUR](https://aur.archlinux.org/packages/kubecolor) for some time, but was recently abandoned by the previous maintainer. A new maintainer is welcome to adopt the package. You should have knowledge of AUR conventions, PKGBUILD, and `makepkg`.

Good luck :)

[2022-08-11 02:01] jjy7pspsjl opened #107 "After entering kubectl - N and adding tab, the following syntax error will appear"
K8s version: v1.23.7
Kubecolor version: 0.0.20

Fault description:
After entering kubectl - N and adding tab, the following syntax error will appear

![image](https://user-images.githubusercontent.com/24741478/184052576-945bb59d-91f4-49fc-b848-938c16ee868c.png)

[2022-08-11 02:03] jjy7pspsjl commented on #107
![image](https://user-images.githubusercontent.com/24741478/184052756-77d89956-b67b-46dc-82e5-4ac4c72bedef.png)

No problem with other uses

[2022-08-11 07:21] adocampo commented on #78
I'm new to zsh and kubectl, just toying with kubecolor as is easier to read json and yaml outputs.
I successfully ran kubectl auto completion with
[code]
As per [official documentation](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-zsh/). Kubecolor works fine by just aliasing the kubect command to kubecolor, but autocompletion misbehave, it _somehow_ works, but definitiv

[2022-08-23 12:36] user173193 commented on #78
I'm getting the same error when using kubecolor in combination with the autocomplete feature for kubectl. The error happens when I press tab to autocomplete the namespaces:
`k -n -bash: 4: syntax error: invalid arithmetic operator (error token is "")`

I'm using on `Debian 10` using  `kubecolor v0.0.20` and `bash 5.0.3(1)-release`. My client version is `kubectl v1.22.12`.

My `.bashrc` looks like

[2022-08-24 09:27] dstuartkelly commented on #107
I believe its related to having kubectl autocomplete enabled and there are a few other reports with the same issue so this is likely a duplicate?
If the following line is in you `~/.bashrc` (or appropriate shell initialization script for your environment `~/.zshrc` `~/.bash_profile` )  commenting it out will stop the autocomplete from working and prevent the error.

[code]
Take a look at [the READ

[2022-08-30 15:02] ciacco206 opened #108 "kubecolor breaks on first argument after kubectl"
Starting with kubectl v1.22, the first argument has changed.

kubectl v1.21.1
![image001](https://user-images.githubusercontent.com/7156577/187470352-26240dfe-db56-4ef4-aab7-c06b85b06065.png)

kubectl v1.22.12
![image002](https://user-images.githubusercontent.com/7156577/187470398-d968f925-c000-4eda-bd70-9bca4c07ab97.png)

This causes issues with tab completion using kubecolor.

kubecolor using ku

[2022-09-01 17:56] ecaruajulca2022 commented on #90
A mi tambien me funciono

[2022-09-07 20:14] prune998 commented on #95
@hidetatz I've been trying to call you out every possible ways I found and never got any answer.

I'm a speaker at the next KubeCon US 2022 in Detroit and I wanted to present `kubecolor` as part of my talk, but the lack of activity in this project is refraining me.

I'd really like to hear from you soon.
If you're not willing to spend time on this project, can you add me as a maintainer ? I'm sure

[2022-09-07 21:01] anthr76 commented on #95
+1 this project is widely used by myself and would love to see it's development continued without a fork.

[2022-09-13 17:04] toyops commented on #78
I think I solved the problem.
The cause of this problem is that the new version of kubectl has changed.
The output results of different versions of kubectl to exec command “kubectl completion bash” are different.
When I use kubectl v1.22.0,  The problem disappears.

[2022-09-20 15:38] #97 closed

[2022-09-22 08:16] marandalucas commented on #104
Please, update the documentation for the workaround. Thank you!

[2022-09-23 18:55] prune998 commented on #95
OK all I just forked it to https://github.com/kubecolor/kubecolor

I'm going to review and port all the current opened PRs if they make sense. Please if you read this, create new PRs on https://github.com/kubecolor/kubecolor

If you want to join and help as a maintainer please also ping me.

[2022-09-26 20:23] fkoner commented on #95
@prune998 Would you mind to fix this one?

[2022-09-27 12:56] pvradu commented on #78
Tried with multiple client version, 1.23.12 seems to be the last one that works, 1.24 and 1.25 have that error. (Ubuntu 20.04.5, bash v5.0.17(1))

[2022-09-28 00:58] prune998 commented on #95
I will have a look ! thanks for the heads-up

[2022-09-29 00:34] prune998 commented on #95
This is fixed.
Get it at https://github.com/kubecolor/kubecolor or brew install kubecolor/tap/kubecolor

[2022-09-29 01:09] prune998 commented on #108
This is fixed in the new clone of the project.
Get it at https://github.com/kubecolor/kubecolor or brew install kubecolor/tap/kubecolor

[2022-09-29 01:27] prune998 commented on #107
This is fixed in the new clone of the project.
Get it at https://github.com/kubecolor/kubecolor or brew install kubecolor/tap/kubecolor

[2022-09-29 01:43] prune998 commented on #106
how to get ownership of the AUR package ? or get rid of it to create a new one from https://github.com/kubecolor/kubecolor ?

[2022-09-29 01:48] prune998 commented on #101
This is fixed in the new clone of the project.
Get it at https://github.com/kubecolor/kubecolor or `brew install kubecolor/tap/kubecolor` or `go install github.com/kubecolor/kubecolor/cmd/kubecolor@latest`

[2022-09-29 01:49] prune998 commented on #96
This is fixed in the new clone of the project.
Get it at https://github.com/kubecolor/kubecolor
or
`brew install kubecolor/tap/kubecolor`
or
`go install github.com/kubecolor/kubecolor/cmd/kubecolor@latest`

[2022-10-05 09:03] allinonedashboard opened #109 "failed to install kubecolor using brew"
Failed message:
➜  ~ brew install hidetatz/tap/kubecolor
Error: hidetatz/tap/kubecolor: wrong number of arguments (given 1, expected 0)

Please let me know for any more information

[2022-10-06 03:51] donwany commented on #109
Please change the documentation on brew install from **brew install hidetatz/tap/kubecolor** to **brew install kubecolor/tap/kubecolor**

[2022-10-07 10:06] gauravpandey44 commented on #78
It worked for me

[2022-10-07 10:47] Wikiwix commented on #77
Depending on the did tool you have configured, adding the option `--plain` helps. Though I believe for the did command kubecolor should never overwrite the colour, so the issue stays valid

[2022-10-09 11:17] nurhun opened #110 "Feature Request - Differentiate restarted pods"
As of now, restarted pods doesn't stand out by  different colors, so, It would be grate to have it differentiated.

[2022-10-11 07:25] jjy7pspsjl commented on #107
First of all, thank you for your reply. I just tested and failed. The same error is reported.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "hidetatz/kubecolor"                                                                                    ***@***.***&gt;;
发送时间:&n

[2022-10-11 11:57] prune998 commented on #107
Can you please give the output of `kubecolor version` ? (that should return the kubectl version)
Try to use `kubectl` version `v1.25.2` or higher... I also had issue with older versions.

[code]

[2022-10-11 13:09] WladyX commented on #78
it seems to complete something else than kubectl, i get other things in the completion, so for me it does not seem to work, or i have other stuff burried in other files other than .zshrc and that is messing the completion.

[2022-10-15 04:24] ivan-elude opened #113 "Go install command fails due to module naming"
When running the install command specified in the readme, we get an error:

[code]

[2022-11-03 07:41] Huweicai commented on #78
I've tried, it really works well.

[2022-11-09 10:43] AndriiOmelianenko opened #115 "switching between light and dark background"
Hello,

First of all - love the tool, discovered it recently and really happy with the functionality.

Second of all, I need suggestions for my setup.
So I'm using the latest iTerm2 (v3.5) that supports switching color preset (including background) based on the system automatically enabled/disabled dark mode, e.g., if the system is set to light mode during the day, I have the light solarized backg

[2022-11-22 13:56] PyDataBlog commented on #109
I get this error:

[code]